//Color combination
$text-primary: #fff;
$text-secondary: #73828e;

$black: #181a1d;
$golden: #ef9632;
$metallic: #1e272e;
$metallic-alt: rgba(30, 39, 46, 0.98);
$red: #ff3838;
$blue: #0f3285;
$fb: #3b5998;
$twitter: #1da1f2;
$gplus: #F44336;
$dribble: #ea4c89;

// font family
$font-family: 'Poppins', sans-serif;