.banner-container {
	padding: 0;
	padding-bottom: 10rem;
	margin: 0;
	min-height: 38vh;
	background: url('../media/banner.jpg');
	background-size: cover;
}

// HERO 

.hero-container {
	width: 80%;
	// margin: 0 auto;
	padding: 8rem 0rem;
}

.hero-text {
	h5 {
		font-weight: 500;
		color: $golden;
		margin: 1rem 0rem;
	}
	h2,
	p {
		color: $text-primary;
		margin: 1rem 0rem;
	}
	p {
		font-size: 0.9rem;
	}
	a {
		color: $text-primary;
		font-size: 0.8rem;
	}

}

// HERO RESPONSIVE 

@media all and (max-width: 768px) {
	.hero-text{
		.grid-col-2{
			grid-template-columns: 1fr;
		}	
	}
}


// EXPLORE/ABOUT Section

.explore-section {
	padding: 5rem 0rem;
}
.explore-section h2 {
	padding: 2rem 0rem;
}
.explore-grid {
	i {
		font-size: 2.5rem;
		color: $golden;
		margin: 2rem 0rem;
	}
	h4 {
		margin: 1rem 0rem;
	}	
}

// EXPLORE PART 2

	.explore-grid-part2-c {
		padding: 7rem;
		grid-gap: 0;
	}
	
	.fa-plane {
		transform: rotate(-45deg);
	}
	

    .explore-grid-part2 {
		padding: 0rem 8rem 0rem 10rem;
	}


// EXPLORE RESPONSIVE 

@media all and (max-width: 768px) {
    .explore-section {
		.grid-col-3,
		.grid-col-2 {
            grid-template-columns: 1fr;
		}
		padding: 0rem 1.6rem;
	}
	.explore-grid {
		padding: 0rem 2.5rem;
	}
	.explore-grid-part2 {
		padding: 4rem 1rem;
	}
}

// STATS SECTION

.stats-section {
	background: $blue;
	width: 100%;
	padding: 4rem 0rem;
}
.stats-grid {
	i {
		font-size: 3rem;
		color: $golden;
		margin: 2rem 0rem 1rem 0rem;
	}
	h4 {
		font-size: 3rem;
		margin: 1rem 0rem;
		color: $text-primary;
	}
	p {
		font-size: 1rem;
		color: $text-primary;
	}
}

@media all and (max-width: 768px) {
	.stats-section {
		.grid-col-4 {
			grid-template-columns: 1fr;
		}
	}
}

// PLAN YOUR HOLIDAY SECTION (Tejas)

.plan-holiday-section {
	background: $metallic;
	padding: 3rem;
}

.plan-grid {
	padding: 3rem 0rem;
	h3 {
		color: $text-primary;
		margin-bottom: 2rem;
		font-size: 2.5rem;
	}
	p {
		color: $text-secondary;
		margin-bottom: 0.5rem;
		line-height: 1.7;
	}
}

@media all and (max-width: 768px) {
	.plan-holiday-section {
		.grid-col-2 {
			grid-template-columns: 1fr;
		}
		padding: 1rem;
	}
	.plan-grid {
			padding: 0.5rem;
		}
}

// Team section
.team {
	text-align: center;
	.wrapper {
		padding: 2.5rem 1rem;
	}

	.grid-col-3 {
		grid-template-columns: 1fr;
	}
}

.team-title {
	text-align: center;
	margin: 1rem 0;
	font-size: 1.375rem;
}

.team-col {
	padding: 1rem 1rem;
}

.team-img {
	box-shadow: 0 20px 40px -10px rgba(0, 0, 0, .3);
}

.team-info {
	color: rgba($text-secondary, 0.8);
	p {
		font-size: 0.8rem;
	}
}

.team-name {
	line-height: 1;
	margin: 1rem 0;
	font-size: 1.2rem;
	color: $black;
	span {
		color: $golden;
		font-weight: 700;
		font-size: 0.8rem;
	}
}

.team-social {
	margin: 1rem 0;
	li {
		margin: 0 1rem;
	}

	a {
		i {
			font-size: 0.8rem;
		}
	}
}

// tours
.tours {
	margin-bottom: 4rem;
	.wrapper {
		padding: 0 1rem;
	}
	.grid-col-3 {
		grid-template-columns: 1fr;
	}
}

.tour-card {
	color: #fff;
	padding: 0 1rem;
	margin: 1rem 0;
}

.tour-info {
	background: $blue;
	padding: 1rem;
}

.tour-detail {
	h4 {
		margin-bottom: 1rem;
	}
}

.location {
	color: $text-secondary;
	font-size: 0.8rem;

	li {
		margin-top: 0.5rem;

		i {
			color: #fff;
			margin-right: 0.25rem;
		}
	}
}

.tour-footer {
	margin-top: 1rem;
	padding-top: 1rem;
    border-top: 1px solid #3d558e;
	color: $text-secondary;
	font-size: 0.8rem;

	i {
		color: #fff;
		margin-right: 0.25rem;
	}
}

// Testimonial
.quote {
	margin-bottom: 4rem;
	i {
		color: $golden;
		font-size: 2.5rem;
		margin-right: 1rem;
	}

	p {
		line-height: 2;
		font-weight: 300;
		color: #262621;
		font-size: 0.98rem;
		padding: 1.5rem;
		text-align: justify;
	}
}

.client-img {
	padding: 0 2rem;

	img {
		width: 2.5rem;
		height: auto;
		border-radius: 50%;
	}
}

.client-info {
	flex-direction: column;

	h5 {
		color: $red;
		font-size: 0.9rem;
	}

	p {
		padding: 0;
		font-size: 0.8rem;
		color: $text-secondary;
	}
}


@media all and (min-width: 992px) {
	.team {
		.wrapper {
			padding: 3rem 6rem;
		}

		.grid-col-3 {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.team-title {
		margin: 3rem 0;
		font-size: 2.5rem;
	}

	.team-col {
		padding: 2rem 1rem;
	}

	.tours {
		margin-bottom: 6rem;
		.wrapper {
			padding: 1rem 5.5rem;
		}

		.grid-col-3 {
			grid-template-columns: repeat(3, 1fr);
			column-gap: 0;
			row-gap: 0;
		}
	}

	.quote {
		margin-bottom: 8rem;
		.wrapper {
			padding: 0 8.5rem;
		}
	}

	.quote-box {
		padding: 0 12rem;
	}

	.client-img {
		margin-right: 2rem;
		img {
			width: 100%;
		}
	}
}